{extends file="website.html"}
{block name=info}Kacper Nowak - PAW2 rok 2021/2022 Informatyka inżynierska{/block}
{block name=footer}KNKnowak. Wszystkie prawa zasrtrzeżone.{/block}

{block name=content}

<section style="margin: 2em;">
	<h3>Zaloguj się: </h3>
	<form action="{$conf->action_root}login" method="post">
		<div class="row gtr-uniform gtr-50">
			<div class="col-6 col-12-xsmall">
				<label for="loginID">Login: </label>
				<input id="loginID" type="text" name="login" value="{$form->login}" /><br />
			</div>
			<div class="col-6 col-12-xsmall">
				<label for="passwordID">Hasło: </label>
				<input id="passwordID" type="text" name="pass" value="{$form->pass}" /><br />
			</div>
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Zaloguj" class="primary" /></li>
					<li><input type="reset" value="Resetuj" /></li>
				</ul>
			</div>

			<div class="table-wrapper">
			
				{if $msgs->isError()}
					<h4>Wystąpiły błędy: </h4>
					<ol class="err">
					{foreach $msgs->getErrors() as $err}
					{strip}
						<li>{$err}</li>
					{/strip}
					{/foreach}
					</ol>
				{/if}
				
				{if $msgs->isInfo()}
					<h4>Informacje: </h4>
					<ol class="inf">
					{foreach $msgs->getInfos() as $inf}
					{strip}
						<li>{$inf}</li>
					{/strip}
					{/foreach}
					</ol>
				{/if}
								

{/block}